body{
  background-color: rgb(185, 185, 209);
}


h1{
  text-align: center;
}
.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container input{
  width: 300px;
  height: 30px;
  border-radius: 12px;
  font-size: 1.2rem;
  padding-left: 12px;
  
}
.input-container button{
  width: 60px;
  height: 30px;
  border-radius: 12px;
  background-color: red;
  margin-top: 12px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  
}

.todo{
  width: 500px;
  height: px;
  border-radius: 12px;
  background-color: rgb(246, 237, 237);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0px 10px;
  margin-bottom: 4px;
}
.action button{
  background-color: red;
  color: white;
  width: 75px;
  height: 30px;
  border-radius: 10px;
  margin-left: 10px;
}